div.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    div#headings {
        display: flex;

        h2 {
            padding-right: 20px;
            color: gray;
            cursor: pointer;

            &:hover {
                text-shadow: 0px 0px 2px #fff;
            }
            &.selected {
                color: white;
                text-shadow: none;
            }
        }
    }
    div.tab {
        display: flex;
        flex-direction: column;
        overflow: auto;

        &.hidden {
            display: none;
        }
        input {
            &:focus-visible {
                outline: none;
            }
        }
        ul {
            height: 100%;
            list-style: none;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;
            color: white;
            button {
                color: inherit;
                background: initial;
                border: none;
                font: message-box;
                font-size: 13px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            li {
                p.infoBox {
                    max-height: 0px;
                    font-size: small;
                    margin: 0;
                    overflow: hidden;
                    transition: max-height 0.1s;
                }
                &.info-open {
                    background: #00000075;
                    padding-top: 5px;
                    button {
                        text-decoration: underline;
                    }
                    p {
                        max-height: 100px;
                        padding: 10px;
                        transition: max-height 0.5s;
                    }
                }
            }
        }
    }
}
